node_modules
npm-debug.log
Dockerfile*
.dockerignore
.git
.gitignore
storage/logs
storage/framework/cache/data
storage/framework/sessions
storage/framework/testing
storage/framework/views
vendor
.env
.env.*
.idea
.vscode
coverage
public/hot
public/storage
